# Сборка и временные файлы
build/
bin/
obj/
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.pdb
*.ilk

# Файлы IDE
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Метаданные ОС
.DS_Store
Thumbs.db
ehthumbs.db

# Твой будущий кеш-процессор
assets/cache/
assets/compiled/
*.shscene
